<mat-card class="card-bg">
  <mat-card class="card">
    <h1>Treino de Hoje</h1>
    <mat-card class="card-content">
      <mat-card-header>
        <mat-card-title>{{treinoAtual?.nomeTreino}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button (click)="iniciarTreino(treinoAtual)">INICIAR</button>
        <!-- <button mat-raised-button (click)="proximoTreino()">PROXIMO TREINO</button> -->
      </mat-card-actions>
    </mat-card>
  </mat-card>
  <br/>

  <mat-card class="card">
    <h1>Outros treinos</h1>

    <mat-card class="card-content" *ngFor="let treino of treinos">
      <mat-card-header>
        <mat-card-title>{{treino.nomeTreino}}</mat-card-title>
      </mat-card-header>
      <!-- <mat-card-actions>
        <button mat-raised-button>INICIAR</button>
      </mat-card-actions> -->
    </mat-card>

  </mat-card>

</mat-card>
