<mat-card class="card-bg">
  <mat-card class="card">
    <h1>Treino de Hoje</h1>
    <mat-card class="card-content">
      <mat-card-header>
        <mat-card-title>Dorsal / Cardio</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button>INICIAR</button>
      </mat-card-actions>
    </mat-card>
  </mat-card>
  <br/>

  <mat-card class="card">
    <h1>Outros treinos</h1>

    <mat-card class="card-content">
      <mat-card-header>
        <mat-card-title>Peito / Ombro</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button>INICIAR</button>
      </mat-card-actions>
    </mat-card>
    <br/>

    <mat-card class="card-content">
      <mat-card-header>
        <mat-card-title>Inferiores</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button>INICIAR</button>
      </mat-card-actions>
    </mat-card>
    <br/>

    <mat-card class="card-content">
      <mat-card-header>
        <mat-card-title>Biceps / Triceps</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button>INICIAR</button>
      </mat-card-actions>
    </mat-card>

  </mat-card>

</mat-card>
