.container {
  height: 100%;
  background: linear-gradient(180deg,rgba(67, 255, 64, 1) 0%, rgba(158, 255, 158, 1) 50%, rgba(222, 255, 222, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 30rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 4rem 1rem;
  border-radius: 1rem;
}

h1{
  width: 100%;
  text-align: center;
}

.full-width {
  width: 100%;
}

button {
  border-radius: 8rem;
  /* color: green; */
  background-color: greenyellow;
  height: 2rem;
}
