.card-bg{
  width: 100%;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.card {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color:rgb(222, 255, 222);
  align-items: center;
}

.card-content{
  width: 80%;
  /* margin: auto; */
  margin-bottom: 2rem;
  color: white;
  background: rgb(67, 255, 64);
  align-items: center;
}

mat-card-title{
  color: black;
}

button {
  border-radius: 8rem;
  /* color: green; */
  /* background-color: greenyellow; */
  height: 2rem;
}
