.container {
  width: 100%;
  height: 100%;
}

.sidenav {
  width: 13rem;
  color: white;
  background: linear-gradient(180deg,rgba(67, 255, 64, 1) 0%, rgba(158, 255, 158, 1) 50%, rgba(222, 255, 222, 1) 100%);
}

.sidenav i {
  color: white;
  margin-right: .6rem;
}

.menu{
  margin: 1rem 0 0 1rem;
  color: white;
  background: linear-gradient(180deg,rgba(67, 255, 64, 1) 0%, rgba(158, 255, 158, 1) 50%, rgba(222, 255, 222, 1) 100%);
}
